body {
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    padding: 8px 4em;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.hero-section {
    background-color: #1f2937;
    padding: 2em 4em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    padding: 0;
    height: 300px;
}

#hero-image {
    width: 400px;
    height: 266px;
    border-radius: 8px;
    object-fit: cover;
    align-self: center;
}

.left-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
}

.heading {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.paragraph {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 8px;
}

.learn-more {
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 16px;
    align-self: flex-start;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #e5e7eb;
    color: #3882f6;
    font-weight: bolder;
}

.resources-section{
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheading {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.resource-list {
    margin-top: 32px;
    /* max-width: 1200px; */
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.resource-image {
    width: 175px;
    height: auto;
    border-radius: 8px;
}

.resource-description {
    width: 175px;
    height: auto;
    text-align: center;
}

.resource-image:hover {
    cursor: pointer;
    width: 200px;
    height: auto;
}

.quote-section {
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 4em 4em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
    gap: 24px;
}

.quote {
    font-family: sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: center;
    width: 800px;
    flex-shrink: 1;
}

.source {
    font-size: 18px;
}
.action-section {
    padding: 0 4em;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.blue-bar {
    background-color: #3882f6;
    width: 900px;
    margin: 4em;
    padding: 2em;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    color: #e5e7eb;
}

.action-bold {
    font-size: 18px;
    font-weight: bolder;
}

.explore {
    background-color: #3882f6;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 4px;
    padding: .5em 2em;
    height: fit-content;
    display: flex;
    align-self: center;
    cursor: pointer;
}

.explore:hover {
    background-color: #e5e7eb;
    color: #3882f6;
    font-weight: bolder;
    border: 0;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 2em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}